@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  color: white;
  font-size: 18px;
}
